input {
  border: 1px solid transparent;
  box-sizing: border-box;
  outline: none;
  border-radius: 8px;
  appearance: none;
  width: 100%;

  font-size: $base-font-size;
  height: $input-height;
  padding: $input-padding;
  color: $base-font-color;
  background-color: $shade;

  @include transition();
}

input:hover {
  background-color: $white;
  border-color: darken($shade, 8);
  box-shadow: 0 0 0 4px $shade;
}

input[type='checkbox'] {
  height: 20px;
  padding: 5px 8px;
  border-radius: 4px;
  background: $white;
  border-color: darken($shade, 8);
  vertical-align: middle;
  width: auto;
}

input:checked[type='checkbox'] {
  background: #4f3cc9
    url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAuNjQwMiAyLjIzNjQ4QzEwLjIxNjIgMS44NzU5OCA5LjU4NTcgMS45MzQ0OCA5LjIzMTcgMi4zNjc0OEw0LjgwNzIgNy43ODQ5OEwyLjU1NTIgNi4yNTI5OEMyLjA5NjIgNS45Mzk5OCAxLjQ3NDcgNi4wNjY5OCAxLjE2ODcgNi41MzU5OEMwLjg2MjcwMSA3LjAwNDk4IDAuOTg2NzAxIDcuNjM4NDggMS40NDYyIDcuOTUwOThMNS4xOTMyIDEwLjVMMTAuNzY4NyAzLjY3MzQ4QzExLjEyMjIgMy4yNDA0OCAxMS4wNjQ3IDIuNTk3NDggMTAuNjQwMiAyLjIzNjQ4WiIgZmlsbD0id2hpdGUiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: center center;
  transition: none;
}

::placeholder {
  color: rgb(160, 160, 160);
  opacity: 1;
  font-size: 1rem;
}

input:-webkit-autofill {
  border-color: $shade;
  -webkit-box-shadow: inset 0 0 0 500px $shade;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border-color: darken($shade, 8);
  -webkit-box-shadow: inset 0 0 0 500px $white, 0 0 0 4px $shade;
}

// CHECKICON
.checkicon {
  input {
    display: none;
  }

  i {
    @include material-icons();
  }

  i:hover {
    color: darken($silver, 20);
  }

  input + i {
    color: $silver;
    @include transition();
  }

  input:checked + i {
    color: $dark;
  }
}
