// GENERAL
.general {
  display: grid;
  overflow: hidden;
}

.general-aside {
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  header {
    padding: 64px;
    color: $light;

    & h1 {
      max-width: 200px;
    }
  }

  main {
    flex-grow: 1;
  }

  //background: url('../assets/image/portal-yellow.jpg') $light;
  //background-position: center;
  //background-repeat: no-repeat;
  //background-size: cover;

  background-color: $purple;
  display: none;
}
.general-main {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  //
  .container {
    max-width: 416px;
  }
}

.wrapper {
  height: 100%;
  display: grid;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
}

// INTERNAL
.internal {
  display: grid;
  grid-template-areas: 'header' 'aside' 'main';
  grid-template-rows: 70px 70px auto;
  grid-template-columns: 1fr;
}
.internal-header {
  grid-area: header;
  border-bottom: 1px solid #e4e4e4;
  display: fixed;
  width: 100%;
}
.internal-aside {
  grid-area: aside;
  border-bottom: 1px solid #e4e4e4;
}
.internal-main {
  grid-area: main;
}

.internal .nav_main {
  display: none;
}

.internal .nav_menu {
  margin-right: -1rem;
}

// MEDIA
@media (min-width: 960px) {
  // NA
  .general {
    display: grid;
    grid-template-areas: 'aside main';
    grid-template-rows: 1fr;
    grid-template-columns: 30% 1fr;
    overflow: hidden;
  }
  .general-aside {
    grid-area: aside;
    display: block;
  }
  .general-main {
    grid-area: main;
  }

  // INTERNAL
  .internal {
    display: grid;
    grid-template-areas: 'header header' 'aside main';
    grid-template-rows: 71px 1fr;
    grid-template-columns: 240px 1fr;
  }
  .internal-header {
    grid-area: header;
  }
  .internal-aside {
    grid-area: aside;
  }
  .internal-main {
    grid-area: main;
  }
}

@media (min-width: 640px) {
  .internal .nav_main {
    display: flex;
  }
}
