// PAGES
//[data-page='login'] {}
[data-page='signup'] {
  .na {
    // modify submit button to full width
    .item_submit {
      width: 100%;
    }
    .terms {
      display: block;
      visibility: visible;
      color: $gray;
    }
  }
}
[data-page='resend'] {
  .na {
    .item_submit {
      width: 100%;
    }
  }
}
